{% extends 'base.html' %}

{% block content %}

        <div class="container create">
            
            
            <form action="{{ action }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="header-h1">Create / Update</h1>
                        <h1 class="header-h1">Your event</h1>
                        <p>Use this form to {% if image %}edit{% else %}create{% endif %} your event!</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-7 d-flex flex-column">
                        {{ form.title(class="form-control form-control-lg", placeholder="Event title") }}
                        {{ form.desc(class="form-control flex-fill", placeholder="Description...") }}
                        <!--PRICE!-->
                        <div class="row">
                            <div class="col-md-6">
                                <label for="price">Price</label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    {{ form.price(class="form-control", placeholder="Amount", step="0.01", min=0) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="tickets">Tickets available</label>
                                {{ form.tickets(class="form-control", placeholder="Amount", min=0)}}
                            </div>
                        </div>
                        <label for="nightclub">Nightclub</label>
                        {{ form.nightclub(class="form-control") }}
                    </div>
                    <div class="col-md-5 d-flex flex-column align-items-center">
                        <p>Select date</p>
                        <table class="calendar btn-group" role="group">
                            <tr>
                                <td colspan="3">
                                    {{ form.month(class="form-select") }}
                                </td>
                                {% for subfield in form.date %}
                                    <td>
                                        {{ subfield }}{{ subfield.label }}
                                    </td>
                                    {% if loop.index0 % 7 == 3 %}
                                        </tr><tr>
                                    {% elif loop.last %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                        </table>

                        <!--TIME!-->
                        <p>Select time</p>
                        <div class="d-flex datetime">
                            {{ form.hour(class="form-select") }}
                            <span>:</span>
                            {{ form.minute(class="form-select") }}
                            {{ form.ampm(class="form-select", id="time-format") }}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <h3 class="filter">This event is a  
                        {{ form.event_type(class="form-select") }}
                        for
                        {{ form.age_range(class="form-select")}}
                    </h3>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% if image %}
                        <p>Event image:</p>
                        <img src="/static/img/{{ image }}" height="200px">
                        {% else %}
                        <p>Choose event image</p>
                        {{ form.image(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-submit" name="submit" value="submit">
                    {% if image %}
                    <input type="submit" class="btn btn-submit delete" name="delete" value="delete" onclick="return confirm('Are you sure you want to delete this event? Changes cannot be reversed.')">
                    {% endif %}
                </div>
            </form>
            
        </div>
    
{% endblock %}
