{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}
{% block content %}

        <div class="container create">
            
            
            <form action="{{url_for('events.create')}}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="header-h1">Create / Update</h1>
                        <h1 class="header-h1">Your event</h1>
                        <p>Use this form to create your event!</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-7 d-flex flex-column">
                        {{ form.title(class="form-control form-control-lg", placeholder="Event title") }}
                        {{ form.desc(class="form-control flex-fill", placeholder="Description...") }}
                        {{ form.nightclub(class="form-control") }}
                    </div>
                    <div class="col-md-5 d-flex flex-column align-items-center">
                        <p>Select date</p>
                        <table class="calendar btn-group" role="group">
                            <tr>
                                <td colspan="3">
                                    {{ form.month(class="form-select") }}
                                </td>
                                {% for subfield in form.date %}
                                    <td>
                                        {{ subfield }}{{ subfield.label }}
                                    </td>
                                    {% if loop.index0 % 7 == 3 %}
                                        </tr><tr>
                                    {% elif loop.last %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <h3 class="filter">This event is a  
                        {{ form.event_type(class="form-select") }}
                        for
                        {{ form.age_range(class="form-select")}}
                    </h3>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ render_field(form.image) }}
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-submit" name="submit" value="submit">
                </div>
            </form>
            
        </div>
    
{% endblock %}