{% extends 'base.html' %}

{% block content %}

        <div class="container create">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="header-h1">Create / Update</h1>
                    <h1 class="header-h1">Your event</h1>
                    <p>Use this form to create your event!</p>
                </div>
                <div class="col-md-5 d-flex flex-column align-items-center">
                    <button class="btn upld-btn">Upload main event photo <i class="fa-solid fa-arrow-up-from-bracket"></i></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-7 d-flex flex-column">
                    <input class="form-control form-control-lg" type="text" placeholder="Event title">
                    <input class="form-control flex-fill" type="text" placeholder="Description...">
                    <select class="form-control">
                        <option>Nightclub...</option>
                      </select>
                </div>
                <div class="col-md-5 d-flex flex-column align-items-center">
                    <p>Select date</p>
                    <table class="calendar btn-group" role="group">
                        <tr>
                            <td colspan="3">
                                <select class="form-select">
                                    <option>Jan</option>
                                    <option>Feb</option>
                                    <option>Mar</option>
                                    <option>Apr</option>
                                    <option>May</option>
                                    <option>Jun</option>
                                    <option>Jul</option>
                                    <option>Aug</option>
                                    <option>Sep</option>
                                    <option>Oct</option>
                                    <option>Nov</option>
                                    <option>Dec</option>
                                </select>
                            </td>
                            <td colspan="1"><button type="button">1</button></td>
                            <td colspan="1"><button type="button">2</button></td>
                            <td colspan="1"><button type="button">3</button></td>
                            <td colspan="1"><button type="button">4</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">5</button></td>
                            <td><button type="button">6</button></td>
                            <td><button type="button">7</button></td>
                            <td><button type="button">8</button></td>
                            <td><button type="button">9</button></td>
                            <td><button type="button">10</button></td>
                            <td><button type="button">11</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">12</button></td>
                            <td><button type="button">13</button></td>
                            <td><button type="button">14</button></td>
                            <td><button type="button">15</button></td>
                            <td><button type="button">16</button></td>
                            <td><button type="button">17</button></td>
                            <td><button type="button">18</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">19</button></td>
                            <td><button type="button">20</button></td>
                            <td><button type="button">21</button></td>
                            <td><button type="button">22</button></td>
                            <td><button type="button">23</button></td>
                            <td><button type="button">24</button></td>
                            <td><button type="button">25</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">26</button></td>
                            <td><button type="button">27</button></td>
                            <td><button type="button">28</button></td>
                            <td><button type="button">29</button></td>
                            <td><button type="button">30</button></td>
                            <td><button type="button">31</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <h3 class="filter">This event is a  
                    <select class="form-select" aria-label=".form-select">
                        <option selected>Event type</option>
                        <option value="1">Themed parties</option>
                        <option value="2">Raves</option>
                        <option value="3">DJ Sets</option>
                    </select>
                    for
                    <select class="form-select" aria-label="">
                        <option selected>All ages</option>
                        <option value="1">Under 18s</option>
                        <option value="2">Over 18s</option>
                    </select>
                </h3>
            </div>
            
            <div class="row justify-content-center">
                <button class="btn btn-submit">Submit</button>
            </div>
        </div>
    
{% endblock %}