{% extends 'base.html' %}

{% block content %}

        <div class="container">
            <div class="">
                <div class="d-flex flex-column">
                    <h1 class="modal-title" id="exampleModalLabel">My saved events</h1>
                </div>
            </div>
            <div class="">
            {% if bookings %}
                {% for booking in bookings %}
                    <div class="row modalEvent">
                        {% if booking[1].user_id == current_user.id %}
                        <span id="edit">
                            <a class="btn btn-edit" href="">My event - edit</a>
                        </span>
                        {% else %}
                            <button id="close"><i class="fa-regular fa-circle-xmark"></i></button>
                        {% endif %}
                        <div class="col-md-4">
                            <a href="{{ url_for('events.show', id=booking[1].id) }}" class="aImg">
                                <img src="{{ booking[1].image }}" />
                            </a>
                        </div>
                        <div class="col-md-5 eventsList">
                            <span id="bookingID">Booked at {{ booking[0].booked_date }}</span>
                            <h4>{{ booking[1].title }}</h4>
                            <p>{{ booking[1].nightclub }}</p>
                            <span class="badge ev-{{ booking[1].event_type }}">{% if booking[1].event_type == 'theme' %}Themed Party{% elif booking[1].event_type == 'rave' %}Rave{% else %}DJ Set{% endif %}</span>
                            <span class="badge age-{{ booking[1].age_range }}">{% if booking[1].age_range == 'ov18' %}Over 18s{% elif booking[1].age_range == 'un18' %}Under 18s{% else %}All ages{% endif %}</span>
                            <br><br>
                            <span id="bookingID">{{ booking[0].quantity }} tickets at ${{ booking[0].price }} each</span>
                            <p>Total: ${{ booking[0].quantity * booking[0].price }}</p>
                        </div>
                    </div>
                {% endfor %}
            {%else%}
                <div class="h-50 d-flex align-items-center justify-content-center">
                    <h4>No events saved! Events you book will be shown here.</h4>
                </div>
            {% endif %}

            </div>
        </div>
    
{% endblock %}